.showing{
    .carousel-section{
        overflow: hidden;
        position: relative;
        margin-bottom: 70px;
        & > .contentWrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        .carousel-title{
            font-size: 24px;
            color: white;
            font-weight: normal;
            @media screen and (min-width: 150px) and (max-width: 300px) {
                font-size: 14px;
            }
        }
    }
}